﻿@{ ViewBag.Title = "Quiz"; }
<h2>Quiz results</h2>
<h4>Right answers @ViewData["Правильно"] out @ViewData["Всего"]</h4>
<ol>
    @if (ViewBag.Result != null)
    {
        @foreach (var p in (ViewBag.Result))
        {
            <li>@p</li>
        }
    }
    else
            {
                <li>No available results</li>
            }
</ol>
